<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dell.medmax">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Additem"
            android:label="@string/title_activity_additem"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".StartActivity"
            android:label="MedMax"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ForgotEmail"
            android:label="@string/title_activity_additem"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ForgotPassword"
            android:label="@string/title_activity_additem"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_additem"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_additem"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FirstActivity"
            android:label="@string/title_activity_additem"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Editdelete"
            android:label="@string/title_activity_editdelete"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".ShopkeeperActivities.ShopkeeperMainActivity"
            android:label="@string/title_activity_shopkeeper_main"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ShopkeeperActivities.PlaceOrder2Activity"
            android:label="Inventory"
            android:parentActivityName=".ShopkeeperActivities.ShopkeeperMainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dell.medmax.ShopkeeperActivities.ShopkeeperMainActivity" />
        </activity>
        <activity
            android:name=".ShopkeeperActivities.AboutVendorActivity"
            android:label="About Vendor"
            android:parentActivityName=".ShopkeeperActivities.ShopkeeperMainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dell.medmax.ShopkeeperActivities.ShopkeeperMainActivity" />
        </activity>
        <activity
            android:name=".ShopkeeperActivities.FinalPlaceOrderActivity"
            android:label="FinalPlaceOrderConfirmation"
            android:parentActivityName=".ShopkeeperActivities.ShopkeeperMainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dell.medmax.ShopkeeperActivities.ShopkeeperMainActivity" />
        </activity>
        <activity android:name=".ShopkeeperActivities.OrderInfoActivity"></activity>
    </application>

</manifest>